<form #form="ngForm" autocomplete="off">
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text" bg-white>
                    <i class="fas fa-user-circle"></i>
                </div>
            </div>
            <input name="CardOwnerName" #CardOwnerName="ngModel" [(ngModel)]="service.formData.CardOwnerName" class="form-control" 
            placeholder="Card Owner Name" required>
        </div>
    </div>

    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text" bg-white>
                    <i class="far fa-credit-card"></i>
                </div>
            </div>
           <input name="CardNumber" #CardNumber="ngModel" [(ngModel)]="service.formData.CardNumber" class="form-control" 
           placeholder="Card Number" required maxlength="16" minlength="16">
        </div>
    </div>

<div class="form-row">
    <div class="form-group col-md-7">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text" bg-white>
                        <i class="fas fa-calendar-alt"></i>
                    </div>
                </div>
                <input name="ExpiriationDate" #ExpiriationDate="ngModel" [(ngModel)]="service.formData.ExpiriationDate" class="form-control" 
                placeholder="MM/YY" required required maxlength="5" minlength="5">
            </div>
        </div>

    <div class="form-group col-md-5">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text" bg-white>
                    <i class="fas fa-key"></i>
                </div>
            </div>
            <input name="CVV" #CVV="ngModel" [(ngModel)]="service.formData.CVV" class="form-control" 
            placeholder="CVV" required required maxlength="3" minlength="3">
        </div>
    </div>
</div>
    <div class="form-group">
        <button class="btn btn-success btn-lg btn-block" type="submit"><i class="fas fa-database"></i>Submit</button>
    </div>
</form>
